<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/register">Register</href></li>
         <li><a href="/log-in">Log-In</href></li>
  
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
